*{
   
    padding: 0px;
    font-family: "Arial", sans-serif;
}

section{
    text-align: center;
}
.container{
    text-align: center;
    border: 1px solid black;
    width: 310px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(3,auto);

}

.cell{
    font-family: "Permanent Marker", cursive;
    margin: 0px;
    padding: 0px;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;

}
